.product-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .product-list h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
  }
  
  .name {
    font-weight: bold;
  }
  
  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  Link {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
    height: 5px;
    width: 20px;
    ;
  }
  